<div class="rz-display-inline-flex rz-align-items-center" @attributes="AdditionalAttributes">
    <a href="@WowheadLink" class="item-icon" target="@(DoNotOpen ?? false ? null : "_blank")" onclick="@(DoNotOpen ?? false ? "event.preventDefault()" : null)">
        <div class="item-image" style="background-image: url('@Icon')" alt=""></div>
        <div class="item-border"></div>
    </a>
    <a href="@WowheadLink" class="rz-ms-1" target="@(DoNotOpen ?? false ? null : "_blank")" onclick="@(DoNotOpen ?? false ? "event.preventDefault()" : null)">@Name</a>
</div>