@page "/"
@inject HttpClient Client

<PageTitle>Home</PageTitle>

<div class="container mt-2 mb-2">
    @if (!string.IsNullOrEmpty(_error))
    {
        @_error
    }
    else
    {
        <form @onsubmit="Search" @onsubmit:preventDefault="true">
            <div class="input-group mb-2">
                <input type="text" class="form-control" @bind="_trinketFilter" placeholder="Trinket filter"/>
                <input type="text" class="form-control" @bind="_classFilter" placeholder="Class filter"/>
                <input type="submit" class="btn btn-primary" value="Search"/>
            </div>
        </form>
        @if (_results != null)
        {
            @if (_results.All(r => r.Value.Count <= 1))
            {
                var filtered = _results.Where(kv => kv.Value.Count == 1).ToArray();
                if (filtered.Length > 0)
                {
                    var query = filtered.Select(kv => new {Trinket = kv.Key, Data = kv.Value.Values.First()})
                                        .Select(a => new
                                         {
                                             a.Trinket,
                                             a.Data.Tier,
                                             a.Data.Note,
                                             a.Data.TierNumerical
                                         })
                                        .OrderBy(a => a.TierNumerical);
                    <div class="mb-2">
                        <h4 class="text-center">@filtered.First().Value.First().Key</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 1px">Trinket</th>
                                    <th class="text-center" style="width: 1px">Tier</th>
                                    <th class="text-center" style="width: 200px">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var info in query)
                                {
                                    <tr>
                                        <td class="text-center align-middle text-nowrap">
                                            @info.Trinket
                                        </td>
                                        <td class="text-center align-middle">
                                            @info.Tier
                                        </td>
                                        <td>
                                            @info.Note
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                foreach (var result in _results)
                {
                    if (result.Value.Count <= 0)
                        continue;

                    <div class="mb-2">
                        <h4 class="text-center">@result.Key</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 1px">Class</th>
                                    <th class="text-center" style="width: 1px">Tier</th>
                                    <th class="text-center" style="width: 200px">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var kv in result.Value.OrderBy(kv => kv.Value.TierNumerical))
                                {
                                    <tr>
                                        <td class="text-center align-middle text-nowrap">
                                            @kv.Key
                                        </td>
                                        <td class="text-center align-middle">
                                            @kv.Value.Tier
                                        </td>
                                        <td>
                                            @kv.Value.Note
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
    }
</div>
<button type="button" class="btn btn-secondary" style="left: 0; position: absolute; top: 0;" onclick="toggleDarkMode()">Dark mode</button>