@page "/"

@inject TooltipService TooltipService
@inject IJSRuntime     JSRuntime

<PageTitle>Trinket</PageTitle>
<SectionContent SectionName="HeaderContent">
    Trinket
</SectionContent>
<SectionContent SectionName="MenuContent">
    Last update: @TrinketData.LastUpdated.ToString("yyyy-MM-dd HH:mm:ss")
</SectionContent>
<div class="rz-h-100 rz-display-flex rz-flex-column">
    <div style="flex: 0 0 auto;">
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="2">
                <div style="white-space: nowrap;">
                    <RadzenSwitch @bind-Value="@_groupBySpec" Change="FilterChanged"/>
                    <RadzenLabel Text="@(_groupBySpec ? "Group by Specialization / Class" : "Group by Trinket")"
                                 @onclick="async () => { _groupBySpec = !_groupBySpec; await FilterChanged(); }"
                                 MouseEnter='er => TooltipService.OpenOnTheTop(er, "Sets the display type of the grid.", new TooltipOptions {Duration = null})'
                                 MouseLeave="() => TooltipService.Close()"/>
                </div>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenFormField Text="Trinket filter" Variant="Variant.Text" Style="width: 100%">
                    <RadzenDropDownDataGrid Data="TrinketData.Trinkets.Keys"
                                            @bind-Value="_selectedTrinkets"
                                            Change="FilterChanged"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            ShowSearch="false"
                                            AllowFilteringByWord="true"
                                            AllowVirtualization="true"
                                            VirtualizationOverscanCount="TrinketData.Trinkets.Count"
                                            Multiple="true"
                                            AllowClear="true"
                                            AllowSorting="false"
                                            Chips="true"
                                            MaxSelectedLabels="10"
                                            MouseEnter='er => TooltipService.OpenOnTheBottom(er, "Filter for trinket(s). If nothing is selected nothing is filtered out.<br/>Partial search is supported (\"abe spell\" will match \"Aberrant Spellforge\").<br/>Pressing enter will select all entries.<br/>Pressing ctrl+enter will select or deselect all entries.", new TooltipOptions {Duration = null})'
                                            MouseLeave="() => TooltipService.Close()"
                                            @ref="_trinketGrid"
                                            first-focus>
                        <Columns>
                            <RadzenDropDownDataGridColumn Width="40px" Sortable="false">
                                <HeaderTemplate>
                                    <RadzenCheckBox TriState="true" @bind-Value="AllTrinketChecked"/>
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox TriState="false" Value="@(_selectedTrinkets != null && _selectedTrinkets.Contains((string) data))"/>
                                </Template>
                            </RadzenDropDownDataGridColumn>
                            <RadzenDropDownDataGridColumn Title="Trinket">
                                <Template Context="data">
                                    <div style="align-items: center; display: grid;">
                                        @{
                                            var item = TrinketData.Trinkets[(string) data].First().Value;
                                        }
                                        <Item Icon="@item.Icon" Name="@data" Link="@item.Link" Level="Level" ItemLevel="_itemLevel" DoNotOpen="true"></Item>
                                    </div>
                                </Template>
                            </RadzenDropDownDataGridColumn>
                        </Columns>
                    </RadzenDropDownDataGrid>
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenFormField Text="Specialization/Class filter" Variant="Variant.Text" Style="width: 100%">
                    <RadzenDropDownDataGrid Data="SpecData.Specs"
                                            @bind-Value="_selectedSpecs"
                                            Change="FilterChanged"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            ShowSearch="false"
                                            AllowFilteringByWord="true"
                                            AllowVirtualization="true"
                                            VirtualizationOverscanCount="SpecData.Specs.Length"
                                            Multiple="true"
                                            AllowClear="true"
                                            AllowSorting="false"
                                            Chips="true"
                                            MaxSelectedLabels="10"
                                            MouseEnter='er => TooltipService.OpenOnTheBottom(er, "Filter for class / specialization name(s). If nothing is selected nothing is filtered out.<br/>Partial search is supported (\"rest sham\" will match \"Restoration Shaman\").<br/>Pressing enter will select all entries.<br/>Pressing ctrl+enter will select or deselect all entries.", new TooltipOptions {Duration = null})'
                                            MouseLeave="() => TooltipService.Close()"
                                            @ref="_specGrid">
                        <Columns>
                            <RadzenDropDownDataGridColumn Width="40px" Sortable="false">
                                <HeaderTemplate>
                                    <RadzenCheckBox TriState="true" @bind-Value="AllSpecChecked"/>
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox TriState="false" Value="@(_selectedSpecs != null && _selectedSpecs.Contains((string) data))"/>
                                </Template>
                            </RadzenDropDownDataGridColumn>
                            <RadzenDropDownDataGridColumn Title="Specialization/Class">
                                <Template Context="data">
                                    @data
                                </Template>
                            </RadzenDropDownDataGridColumn>
                        </Columns>
                    </RadzenDropDownDataGrid>
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="1">
                <RadzenFormField Text="Item level" Variant="Variant.Text" Style="width: 100%">
                    <RadzenNumeric TValue="int?" @bind-Value="@_itemLevel" Min="0" Step="1" Change="UpdateHistory"/>
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>
    </div>
    <div class="hide-radzen-stuff" style="flex: 1 1 auto; height: 0;">
        <RadzenDataGrid Data="_data"
                        AllowGrouping="true"
                        HideGroupedColumn="true"
                        AllowSorting="true"
                        AllowMultiColumnSorting="true"
                        AllowVirtualization="true"
                        AllowFiltering="true"
                        FilterMode="FilterMode.CheckBoxList"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Render="Render"
                        @ref="_dataGrid"
                        class="rz-h-100">
            <GroupHeaderTemplate>
                @{
                    try
                    {
                        switch (context.GroupDescriptor.Property)
                        {
                            case "Name":
                                var item = TrinketData.Trinkets[(string) context.Data.Key].First().Value;
                                        <Item Icon="@item.Icon" Name="@context.Data.Key" Link="@item.Link" style="font-size: 1.5em;" Level="Level" ItemLevel="_itemLevel"/>
                                break;
                            case "Spec":
                                        <span style="font-size: 1.5em;">@context.Data.Key</span>
                                break;
                        }
                    }
                    catch
                    {
                                <span style="font-size: 1.5em;">@context.Data.Key</span>
                    }
                }
            </GroupHeaderTemplate>
            <Columns>
                <RadzenDataGridColumn Title="Trinket" Width="300px" Groupable="true" Sortable="true" Filterable="true" Property="Name" FilterValue="@_selectedTrinkets">
                    <Template>
                        <Item Icon="@context.Icon" Name="@context.Name" Link="@context.Link" Level="Level" ItemLevel="_itemLevel"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Tier" Width="80px" Groupable="false" Sortable="true" Filterable="true" Property="Tier" SortProperty="TierNumerical"/>
                <RadzenDataGridColumn Title="Specialization / Class" Width="300px" Groupable="true" Sortable="true" Filterable="true" Property="Spec" FilterValue="@_selectedSpecs"/>
                <RadzenDataGridColumn Title="Note" Groupable="false" Sortable="false" Filterable="false" Property="Note">
                    <Template>
                        <span style="white-space: pre-wrap;">
                            @context.Note
                        </span>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
<script>
    document.addEventListener("keydown", e => {
        if (e.key !== "Enter")
            return;
        if (e.target.closest(".rz-lookup-search-input")) {
            const box = e.target.closest(".rz-lookup-panel").querySelector(".rz-chkbox-box");
            if (e.ctrlKey || box.querySelector(".rz-chkbox-icon.rzi-check") == null)
                box.click();
        }
    });
</script>